<div class="bg">
    <div class="log">
        <button>
            <a href="/teacher/login1">Organizer</a>
        </button>
    </div>
    <div class="log">
        <button>
            <a href="/student/login">Participant</a>
        </button>
    </div>
    
</div>