<div class="bg">
    <div class="log">
        <button>
            <a href="/teacher/login">Organizer Login</a>
        </button>
    </div>
    <div class="log">
        <button>
            <a href="/student/login">Participant Login</a>
        </button>
    </div>
    
</div>