
<div class="optionDiv">



       <button>
        <a href="/teacher/tlogin">Orgnized Parties</a>
       </button>
    
             
    <button>
        <a href="/teacher/add">Organize a party</a> 
    </button>
    <br>
    <br>
   
</div>